:root {
    --text: #e8dac5;
    --text-hl: #eaa34c;

    --surface-0: #111;
    --surface-1: #222;
    --surface-2: #282828;
    --surface-3: #333;
    --surface-inv: #a4998a;
}

* {
    box-sizing: border-box;
    font-family: monospace;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--surface-1);
    color: var(--text);

    display: flex;
    flex-direction: column;
    justify-content: center;
}

body > * {
    margin-bottom: 8em;
}

a {
    text-decoration: none;
    color: var(--text)
}

.widthConstraint {
    display: flex;
    justify-content: center;
}

.widthConstraint > div.constranee {
    flex: 0 1 80em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.header nav ul {
    display: flex;
    list-style: none;
    gap: 3em;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.imgPlaceholder {
    width: 40em;
    height: 20em;
    background-size: 1.5em 1.5em;
    background-image: radial-gradient(var(--text) 0.15em, transparent 0.15em);
}

.narrower {
    flex: 0 1 30em;
}

.signUp {
    width: 8em;
    height: 2em;
    border: none;
    border-radius: 0.5em;
    color: var(--surface-1);
    background-color: var(--text);
}

.paneTwo {
    background-color: var(--surface-inv);
    color: var(--surface-1);
    /*tmp*/
    height: 40em;
}