:root {
    --text: #e8dac5;
    --text-hl: #eaa34c;

    --surface-0: #111;
    --surface-1: #222;
    --surface-2: #282828;
    --surface-3: #333;
    --surface-inv: #dbc9af;
}

* {
    box-sizing: border-box;
    font-family: monospace;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--surface-1);
    color: var(--text);

    display: flex;
    flex-direction: column;
    justify-content: center;
}

a {
    text-decoration: none;
    color: var(--text)
}

a:hover,
a:focus {
    color: var(--text-hl);
}

a:focus {
    outline: none;    
}

.widthConstraint {
    display: flex;
    justify-content: center;
}

.widthConstraint > div.constranee {
    flex: 0 1 80em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1em;
}

.header,
.paneOne {
    margin-bottom: 8em;
}

.header nav ul {
    display: flex;
    list-style: none;
    gap: 3em;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.imgPlaceholder {
    flex: 0 1 40em;
    height: 20em;
    background-size: 1.5em 1.5em;
    background-image: radial-gradient(var(--text) 0.15em, transparent 0.15em);
    margin-top: 1em;
}

.narrower {
    flex: 0 1 30em;
}

.signUp {
    width: 8em;
    height: 2em;
    border: none;
    border-radius: 0.5em;
    color: var(--surface-1);
    background-color: var(--text-hl);
}

.signUp:hover {
    color: var(--text-hl);
    background-color: var(--surface-1);
    border: 0.2em solid var(--text-hl);
}

.signUp:focus {
    outline: 0.2em solid var(--text-hl);
}

.paneTwo {
    background-color: var(--surface-inv);
    color: var(--surface-1);
    padding: 1em 0;
}

.paneTwo h2 {
    width: 100%;
    text-align: center;
    font-size: 1.5em;
}

.boxes {
    margin: 2em 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 4em;
}

.box {
    flex: 0 1 10em;
}

.box > div {
    width: 10em;
    height: 10em;
    border: 0.25em solid var(--surface-1);
    border-radius: 0.5em;
    background-image: linear-gradient(180deg, var(--surface-1) 1.5em, transparent 1.5em);
}

.box > p {
    text-align: center;
}

.paneThree {
    background-color: var(--surface-2);
    padding: 8em 0;
}

.paneThree p {
    margin: 0;
    width: 100%;
}

.paneThree p:first-child {
    font-style: italic;
    font-size: 2em;
}

.paneThree p:nth-child(2) {
    font-weight: bold;
    font-size: 1.5em;
    text-align: end;
    margin-top: 1em;
}

.paneFour {
    padding: 4em 0;
}

.banner {
    background-color: var(--surface-inv);
    color: var(--surface-1);
    margin: 0 4em;
    padding: 2em 4em;
    width: 100%;
    border-radius: 1em;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.banner h4 {
    font-size: 1.5em;
    font-weight: bold;
}

.banner * {
    margin: 0;
}

.banner .signUp {
    border: 0.2em solid var(--surface-3);
    background-color: var(--surface-inv);
}

.banner .signUp:hover {
    color: var(--text);
    background-color: var(--surface-3);
}

.banner .signUp:focus {
    outline: 0.2em solid var(--surface-3);  
}

.footer p {
    width: 100%;
    text-align: center;
    font-size: 1.2em;
}

@media (max-width: 900px) {
    .widthConstraint > div.constranee {
        justify-content: space-around;
    }


}

@media (max-width: 430px) {
    .header > div.constranee ul {
        flex-direction: column;
    }

    
}